<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$TAB_TITLE$</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    $CSS_LINKS$
</head>
<body> 
    

    <div id="login">
        <button><a href="/login"></a>Login</button>
        <button><a href="/register"></a>Register</button>
    </div>

    <div id="navbar">
        <h1 id="logo"><a href="/">Mandatory</a></h1>
        <nav>
            <a href="/">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Topics</button>
                <div class="dropdown-content">
                    <a href="/introduction">Introduction</a>
                    <a href="/functionality">Functionality</a>
                    <a href="/crud">CRUD</a>
                    <a href="/fetch">Fetch</a>
                    <a href="/rendering">Rendering</a>
                    <a href="/async">Async</a>
                    <a href="/structure">Structure</a>
                </div>
            </div>
            <a href="/contact">Contact</a>
        </nav>
    </div>
    
    <main>